{% from "project.html" import project_row_header, project_row %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beepi Process Controller</title>
    <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
    <link href="/static/tailwind-output.css" rel="stylesheet">
    <script src="/static/main.js"></script>
</head>

<body class="bg-slate-800 w-full min-h-full p-10 text-white">
    <div class="container-lg mx-auto">
        <div class="max-w-5xl mx-auto">
            <table class="table-auto bg-slate-700 {{ border_css }} border-collapse w-full text-left">
                <thead>{{ project_row_header() }}</thead>
                {% for project in projects %}
                    {{ project_row(project) }}
                {% endfor %}
            </table>
            <div class="mt-5 flex justify-center items-center">
                <a 
                    href="/logout"
                    class="mx-2 px-3 py-1 rounded-lg bg-blue-700"
                >
                    Logout
                </a>
                <button 
                    class="mx-2 px-3 py-1 rounded-lg bg-red-600"
                    hx-post="/restart"
                    hx-swap="none"
                >
                    Restart
                </button>
            </div>
        </div>
    </div>
</body>

</html>