
{% set polling_rate = "every 5s" %}

{% set border_css = "border border-slate-600" %}
{% set header_css = "px-2 py-2" %}
{% set headers = ["Name", "ID", "Update Command", "Start Command", "Autostart", "Status", "Options"] %}

{% macro project_row_header() %}
    <tr>
        {% for header in headers %}
            <th class="{{ border_css }} {{ header_css }}">{{ header }}</th>
        {% endfor %}
    </tr>
{% endmacro %}


{% set cell_css = "px-2 py-2 text-gray-300 text-sm" %}
{% set option_button_css = "mx-0.5 p-0.5 rounded shadow" %}
{% set project_attrs = ["name", "short_name", "update_command", "start_command", "autostart"] %}

{% macro project_row(project) %}
    {% set project_name = project.data.get("short_name") %}
    {% set project_row_id = "project-" + project_name %}
    {% set project_output_row_id = "project-output-" + project_name %}
    {% set project_update_output_row_id = "project-update-output-" + project_name %}
    {% set status = project.get_status() %}

    <tbody id="{{ project_row_id }}">
        <tr>
            {% for attr_name in project_attrs %}
                <td class="{{ border_css }} {{ cell_css }}">{{ project.data.get(attr_name) }}</td>
            {% endfor %}
            {{ project_status(project) }}
            <td class="{{ border_css }} {{ cell_css }} w-40">
                <div 
                    class="w-full h-full flex justify-center items-center"
                    hx-get="/{{ project_name }}/buttons"
                    hx-trigger="{{ polling_rate }}"
                >
                    {{ project_buttons(project) }}
                </div>
            </td>
        </tr>
        <tr id="{{ project_output_row_id }}" class="hidden">
            <td class="{{ border_css }} {{ cell_css }}" colspan="{{ headers|length }}">
                <span class="mx-3 font-bold text-base text-blue-200">{{ project.data.get("name", "") }} Output Log</span>
                <div class="mt-1 w-full flex justify-center items-center">
                    <textarea class="m-1 p-2 flex-auto 
                        rounded-lg border-2 border-gray-800 
                        bg-blue-950
                        text-sm text-gray-300 font-mono leading-4" 
                        rows="10"
                        readonly
                        hx-get="/{{ project_name }}/output"
                        hx-trigger="{{ polling_rate }}"
                    >{{ project.get_output() }}</textarea>
                </div>
            </td>
        </tr>
        <tr id="{{ project_update_output_row_id }}" class="hidden">
            <td class="{{ border_css }} {{ cell_css }}" colspan="{{ headers|length }}">
                <span class="mx-3 font-bold text-base text-orange-200">{{ project.data.get("name", "") }} Update Log</span>
                <div class="mt-1 w-full flex justify-center items-center">
                    <textarea class="m-1 p-2 flex-auto 
                        rounded-lg border-2 border-gray-800 
                        bg-orange-950
                        text-sm text-gray-300 font-mono leading-4" 
                        rows="10"
                        readonly
                        hx-get="/{{ project_name }}/update_output"
                        hx-trigger="{{ polling_rate }}"
                    >{{ project.get_update_output() }}</textarea>
                </div>
            </td>
        </tr>
    </tbody>
{% endmacro %}

{% macro project_status(project) %}
    {% set status = project.get_status() %}
    <td 
        class="{{ border_css }} {{ cell_css }}"
        hx-get="/{{ project.data.get('short_name') }}/status"
        hx-trigger="{{ polling_rate }}"
        hx-swap="outerHTML"
    >
        {% if status == "invalid" %}
            <span class="text-red-500">Invalid</span>
        {% elif status == "missing" %}
            <span class="text-red-500">Missing</span>
        {% elif status == "running" %}
            <span class="text-green-500">Running</span>
        {% elif status == "updating" %}
            <span class="text-yellow-400">Updating</span>
        {% elif status == "stopped" %}
            <span class="text-orange-500">Stopped</span>
        {% endif %}
    </td>
{% endmacro %}

{% macro project_buttons(project) %}
    {% set project_name = project.data.get("short_name") %}
    {% set project_row_id = "project-" + project_name %}
    {% set project_output_row_id = "project-output-" + project_name %}
    {% set project_update_output_row_id = "project-update-output-" + project_name %}
    {% set status = project.get_status() %}

    {% if status == "running" %}
        <button class="{{ option_button_css }} bg-red-500"
            hx-post="/{{ project_name }}/stop"
            hx-target="#{{ project_row_id }}"
            hx-swap="outerHTML"
        >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path d="M5.25 3A2.25 2.25 0 003 5.25v9.5A2.25 2.25 0 005.25 17h9.5A2.25 2.25 0 0017 14.75v-9.5A2.25 2.25 0 0014.75 3h-9.5z" />
            </svg>
        </button>
    {% endif %}

    {% if status == "stopped" %}
        <button class="{{ option_button_css }} bg-green-600"
            hx-post="/{{ project_name }}/start"
            hx-target="#{{ project_row_id }}"
            hx-swap="outerHTML"
        >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path d="M6.3 2.841A1.5 1.5 0 004 4.11V15.89a1.5 1.5 0 002.3 1.269l9.344-5.89a1.5 1.5 0 000-2.538L6.3 2.84z" />
            </svg>
        </button>
    {% endif %}

    {% if status in ("invalid", "missing", "stopped") %}
        <button class="{{ option_button_css }} bg-cyan-600"
            hx-post="/{{ project_name }}/edit"
            hx-target="#project-edit"
            hx-swap="outerHTML"
        >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path d="M5.433 13.917l1.262-3.155A4 4 0 017.58 9.42l6.92-6.918a2.121 2.121 0 013 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 01-.65-.65z" />
                <path d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0010 3H4.75A2.75 2.75 0 002 5.75v9.5A2.75 2.75 0 004.75 18h9.5A2.75 2.75 0 0017 15.25V10a.75.75 0 00-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5z" />
            </svg>
        </button>
    {% endif %}

    {% if status in ("missing", "stopped") %}
        <button class="{{ option_button_css }} bg-yellow-600"
            hx-post="/{{ project_name }}/update"
            hx-target="#{{ project_row_id }}"
            hx-swap="outerHTML"
        >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd" d="M8 1a.75.75 0 01.75.75V6h-1.5V1.75A.75.75 0 018 1zm-.75 5v3.296l-.943-1.048a.75.75 0 10-1.114 1.004l2.25 2.5a.75.75 0 001.114 0l2.25-2.5a.75.75 0 00-1.114-1.004L8.75 9.296V6h2A2.25 2.25 0 0113 8.25v4.5A2.25 2.25 0 0110.75 15h-5.5A2.25 2.25 0 013 12.75v-4.5A2.25 2.25 0 015.25 6h2zM7 16.75v-.25h3.75a3.75 3.75 0 003.75-3.75V10h.25A2.25 2.25 0 0117 12.25v4.5A2.25 2.25 0 0114.75 19h-5.5A2.25 2.25 0 017 16.75z" clip-rule="evenodd" />
            </svg>
        </button>
    {% endif %}

    {% if status in ("running", "stopped") %}
        <button 
            class="{{ option_button_css }} bg-blue-500" 
            onclick="toggleVisibility('{{ project_output_row_id }}')"
        >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd" d="M4.5 2A1.5 1.5 0 003 3.5v13A1.5 1.5 0 004.5 18h11a1.5 1.5 0 001.5-1.5V7.621a1.5 1.5 0 00-.44-1.06l-4.12-4.122A1.5 1.5 0 0011.378 2H4.5zm2.25 8.5a.75.75 0 000 1.5h6.5a.75.75 0 000-1.5h-6.5zm0 3a.75.75 0 000 1.5h6.5a.75.75 0 000-1.5h-6.5z" clip-rule="evenodd" />
            </svg>
        </button>
    {% endif %}

    {% if status in ("updating", "stopped") %}
        <button 
            class="{{ option_button_css }} bg-orange-600" 
            onclick="toggleVisibility('{{ project_update_output_row_id }}')"
        >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd" d="M14.5 10a4.5 4.5 0 004.284-5.882c-.105-.324-.51-.391-.752-.15L15.34 6.66a.454.454 0 01-.493.11 3.01 3.01 0 01-1.618-1.616.455.455 0 01.11-.494l2.694-2.692c.24-.241.174-.647-.15-.752a4.5 4.5 0 00-5.873 4.575c.055.873-.128 1.808-.8 2.368l-7.23 6.024a2.724 2.724 0 103.837 3.837l6.024-7.23c.56-.672 1.495-.855 2.368-.8.096.007.193.01.291.01zM5 16a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd" />
                <path d="M14.5 11.5c.173 0 .345-.007.514-.022l3.754 3.754a2.5 2.5 0 01-3.536 3.536l-4.41-4.41 2.172-2.607c.052-.063.147-.138.342-.196.202-.06.469-.087.777-.067.128.008.257.012.387.012zM6 4.586l2.33 2.33a.452.452 0 01-.08.09L6.8 8.214 4.586 6H3.309a.5.5 0 01-.447-.276l-1.7-3.402a.5.5 0 01.093-.577l.49-.49a.5.5 0 01.577-.094l3.402 1.7A.5.5 0 016 3.31v1.277z" />
            </svg>
        </button>
    {% endif %}

    {% if status == "stopped" %}
        <button class="{{ option_button_css }} bg-yellow-600"
            hx-post="/{{ project_name }}/delete"
            hx-target="#{{ project_row_id }}"
            hx-swap="outerHTML"
            hx-confirm="Are you sure you want to delete the project folder?"
        >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd" d="M8.75 1A2.75 2.75 0 006 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 10.23 1.482l.149-.022.841 10.518A2.75 2.75 0 007.596 19h4.807a2.75 2.75 0 002.742-2.53l.841-10.52.149.023a.75.75 0 00.23-1.482A41.03 41.03 0 0014 4.193V3.75A2.75 2.75 0 0011.25 1h-2.5zM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4zM8.58 7.72a.75.75 0 00-1.5.06l.3 7.5a.75.75 0 101.5-.06l-.3-7.5zm4.34.06a.75.75 0 10-1.5-.06l-.3 7.5a.75.75 0 101.5.06l.3-7.5z" clip-rule="evenodd" />
            </svg>
        </button>
    {% endif %}

    {% if status in ("invalid", "missing", "stopped") %}
        <button class="{{ option_button_css }} bg-red-500"
            hx-post="/{{ project_name }}/remove"
            hx-target="#{{ project_row_id }}"
            hx-swap="outerHTML"
            hx-confirm="Are you sure you want to remove the project?"
        >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd" d="M8.75 1A2.75 2.75 0 006 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 10.23 1.482l.149-.022.841 10.518A2.75 2.75 0 007.596 19h4.807a2.75 2.75 0 002.742-2.53l.841-10.52.149.023a.75.75 0 00.23-1.482A41.03 41.03 0 0014 4.193V3.75A2.75 2.75 0 0011.25 1h-2.5zM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4zM8.58 7.72a.75.75 0 00-1.5.06l.3 7.5a.75.75 0 101.5-.06l-.3-7.5zm4.34.06a.75.75 0 10-1.5-.06l-.3 7.5a.75.75 0 101.5.06l.3-7.5z" clip-rule="evenodd" />
            </svg>
        </button>
    {% endif %}

{% endmacro %}


{% macro project_edit(project=None) %}
    <div id="project-edit" class="mt-5">
        {% if project %}
            <div class="flex">
                <div class="mx-16 p-2 flex-auto">
                    <div id="project-editor"
                        class="w-full h-80 rounded-xl border-4 border-gray-500 shadow-xl text-base"
                    >{{ project.as_json() }}</div>
                    <textarea id="project-edit-textarea" name="project-edit" class="hidden">{{ project.as_json() }}</textarea>
                </div>
                <script>
                    var editor = ace.edit("project-editor");
                    editor.getSession().setMode("ace/mode/json");
                    editor.setTheme("ace/theme/twilight");
                    editor.getSession().on("change", () => {
                        document.getElementById("project-edit-textarea").innerHTML = editor.getSession().getValue();
                    });
                </script>
            </div>
            <div class="mt-2 text-center">
                <span id="project-edit-response" class="text-red-500"></span>
            </div>
            <div class="mt-2 flex justify-center items-center">
                <button 
                    class="mx-2 px-5 py-1 rounded-lg bg-blue-600"
                    onclick="document.getElementById('project-edit').innerHTML = ''"
                >
                    Close Editor
                </button>
                <button 
                    class="mx-2 px-5 py-1 rounded-lg bg-green-600"
                    hx-post="/{{ project.data.get('short_name') }}/save"
                    hx-include="#project-edit-textarea[name=project-edit]"
                    hx-target="#project-edit-response"
                >
                    Save
                </button>
            </div>
        {% endif %}
    </div>
{% endmacro %}

